.btn {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
}

.danger {
    border: 1px solid #DC3545;
    background-color: #DC3545;
    color: white;
}

.danger:hover {
    background-color: #B21F2D;
    border: 1px solid #B21F2D;
}

.warning {
    background-color: #FFC107;
    border: 1px solid #FFC107;
    
    color: #212529;
}

.warning:hover {
    background-color: #E0A800;
    border: 1px solid #E0A800;
}

.success {
    color: white;
    background-color: #28a745;
    border: 1px solid #28a745;
}

.success:hover {
    background-color: #1e7e34;
    border: 1px solid #1e7e34;
}

.info {
    color: white;
    background-color: #006699;
    border: 1px solid #006699;
}

.info:hover {
    background-color: #005588;
    border: 1px solid #005588;
}

.noRadius {
    height: 40px;
    border-radius: 0px;
    width: 100%;
}

.rightRadius {
    height: 40px;
    border-radius: 0px 5px 5px 0px;
    width: 100%;
}